* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #7c97d4;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container {
  width: 640px;
  height: 640px;
  display: flex;
  flex-wrap: wrap;
  background-color: #7c97d4;
  transform: scale(1);
  perspective: 1000px;
}

.anim:active {
  transform: scale(.97);
  transition: transform .2s;
}

.card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  background-color: #b3bed7;
  border: 5px solid white;
  border-radius: 5px;
  positon: relative;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: transform .5s;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 3px rgba(79, 79, 79, 0.5)
}

.flipped {
  transform: rotateY(180deg);
  background-color: #d3dbed;
}

.card:hover {
  background-color: #bfc6d5;
}

.back-face,
.front-face {
  width: 50%;
  height: 50%;
  position: absolute;
  backface-visibility: hidden;
}

.back-face {
  transform: rotateY(180deg);
}


@media (max-width: 750px) {
  .game-container {
    width: calc(100vw);
    justify-content: center;
    align-items: center;
  }
}

@media (max-height: 670px) {
  .game-container {
    height: 100vh;
  }
}
